.cache-main
/target/
.classpath
.project
./settings
.settings/**
intake.iml
.idea/**
/bin/
.DS_Store
/**/.DS_Store
/**/.settings/**
/**/.cache-main
/**/.cache-tests
.cache-main
/**/logs/**
/logs/
/metastore_db/
/dependency-reduced-pom.xml
/derby.log
/nohup.out
.DS_Store
*.iml
/.cache-main
/.cache-tests
/.idea
/.idea_modules
/.classpath
/.project
